<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <h1>Kutubxona boshqaruv tizimi</h1>
    <p>Sana: {{ today }}</p>
    <hr>
    <a href="/talabalar/">Talabalar</a>
    <a href="/mualliflar/">Mualliflar</a>
    <a href="/kitoblar/">Kitoblar</a>
    <a href="/recordlar/">Recordlar</a>
    <a href="#">Kutubxonachilar</a>

    <p>
        <a href="/bitiruvchi-studentlar/">Bitiruvchilar#1</a>
    </p>

    <p>
        <a href="/kitobli-studentlar/">Kitobli Studentlar#2</a>
    </p>

</body>
</html>